body {
  font-family: "Lato", sans-serif;
  font-weight: 800;
  font-size: 1.6rem;
  line-height: 1.7;
  color: $dark-gray-color;
  padding: 3rem;
}

.heading-primary {
  color: $white-color;
  text-transform: uppercase;

  /* This determines whether the back part of the element is visible to the user.
    This is used to fix the little "shaking" after the animation */
  backface-visibility: hidden;

  margin-bottom: 6rem;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.7rem;

    animation: moveInRight 1s ease-out;
  }
}
